python_version >= '2.7'
tensorflow-gpu>=1.4.1
keras>=2.0.8
pillow-simd>=4.1.1
joblib>=0.11
h5py>=2.7.0
cython>=0.25.2
typing>=3.6.1
numpy>=1.13.3
scipy>=1.0.0
scikit-image>=0.13.1
jsonpickle>=0.9.5
typing>=3.6.1
enum34>=1.1.6
pydot-ng>=1.0.0
graphviz>=0.8
-e git://github.com/raghakot/keras-vis.git#egg=keras-vis
-e git+https://github.com/lucasb-eyer/pydensecrf.git
-e git+git://github.com/keplr-io/quiver.git
